/* This entire file needs to be cleaned up. */
h1
{
  background-color: #ccc;
  color: #000;
  padding: 3px 7px;
  text-align: right;
  font-size: 18px;
}

#source-view #line-pointer,
#source-view .breakpoint
{
  position: absolute;
  content: '\25B6';
  color: #f00;
  font-size: 20px;
  list-style: none;
  line-height: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  left: 0;
}

#source-view .breakpoint
{
  content: '\25C9';
  color: #f00;
  left: 0;
}

.folder li li
{
  margin-left: 18px;
}

.folder-key
{
  border: none;
  margin: 0;
  margin-right: 7px;
  padding: 0;
  font-size: 10px;
  line-height: 11px;
  height: 11px;
  width: 11px;
  background: transparent url('../ui-images/expand-collapse.gif') scroll no-repeat 0 0;
  &.inverted
  {
    background-image: url("../ui-images/expand-collapse-inverted.gif");
  }
}


.unfolded > .folder-key
{
  background-position: 0 -11px;
}

.folder-key[disabled="true"]
{
  opacity: 0.3;
}

.failed
{
  color: red;
}


/* backtrace */
#backtrace-container,
#examine-objects-container
{
  padding: 5px;
}

#backtrace-container
{
  li
  {
    padding-left: 20px;
    background: transparent url('../ui-images/selected_frame.png') scroll no-repeat -20px 0;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:first-child
    {
      background-image: url('../ui-images/selected_frame_top.png');
    }
    
    &.selected
    {
      background-position: 0 0;
    }
    
    &:hover .scope-name
    {
      color: #000;
      text-decoration: underline;
    }
  }
  .file-line
  {
    color: #999;
  }
  .not-stopped
  {
    cursor: auto;
    color: #999;
    font-style: italic;
  }
}

#continues,
.dropdowns
{
  height: 24px;
  line-height: 24px;
  float: left;
}

#continues {
  margin-left: 5px;
}

input[type="text"]
{
  font-size: 11px;
  cursor: text;
}

#main-button-toolbar
{
  float: left;
}

.dropdowns > li
{
  float: left;
  padding: 0;
  margin: 0 5px;
  position: relative;
  z-index: 1;
  }

#drop-down-view
{
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #333;
  background-color: #fff;
  padding: 0.5em;
}


[window_id].selected > span
{
  color: #930;
  font-weight: bold;
}

.window-container
{
  position: absolute;
  top: 22px;
  left: 1px;
  right: 5px;
  bottom: 5px;
  padding: 0.5em;
  overflow: auto;
}


/*** views ***/
.padding
{
  padding: 5px;
  box-sizing: border-box;
}

/*** view debug ***/
.debug-container > div
{
  white-space: pre;
}

cst-option.selected-runtime
{
  background-color: #598bec;
  color: #fff;
}

.thread-stopped-event
{
  background-color: #09f;
}

.info
{
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 100px;
  border: 5px solid red;
  background-color: #fce8cf;
  padding: 20px;
  z-index: 100;
  h2
  {
    text-align: center;
  }
}

#examine-objects li li
{
  padding-left: 18px;
}

.css-inspector pre
{
  white-space: pre-wrap;
}

/* stylesheet view */
.css-declaration
{
  padding-left: 2em;
  padding-right: 3px;
  &.disabled,
  &.disabled .css-property,
  &.disabled .css-property-value
  {
    color: #999 !important;
  }
}


.enable-disable
{
  float: left;
  opacity: 0; /* This is a hack (instead of visibility: hidden) to make sure the checkbox is always clickable */
  margin-bottom: -10px; /* This is rather hackish too */
  margin-left: -20px;
  cursor: default;
  &.hidden
  {
    visibility: hidden;
  }
  
}

.css-declaration:hover .enable-disable,
.disabled .enable-disable
{
  opacity: 1;
}

.css-rule
{
  display: block;
  margin: 5px 0;
}

.stylesheets pre
{
  background: red;
}

.dom-resource-link
{
  cursor: pointer;
}

/* css inspector class css-inspector */
.css-rule:not(.non-editable) .css-declaration
{
  cursor: text;
}

category,
header,
styles
{
  display: block;
}

.rule-description
{
  display: block;
  text-align:right;
  float: right;
  margin-left: 10px;
  color: $dimmed-foreground-color;
}

.shortened-url
{
  content: "…";
}

styles
{
  padding: 8px 4px;
}

.unfolded styles
{
  padding: 0 5px;
}

header
{
  padding: 2px;
  background-color: #fff;
  border-bottom: 1px solid $dimmed-border-color;
  input
  {
    background: transparent url('../ui-images/icons/icon_arrow_right.png') scroll no-repeat 50% 100%;
    border: none;
    width: 17px;
    height: 17px;
    -o-transition: 0.2s;
  }
}

container > div > header
{
  line-height: 20px;
  background-color: $toolbar-background-color;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(255, 255, 255, 0.85) 0,
                                       rgba(255, 255, 255, 0.45) 100%);
}

div.unfolded
{
  border-bottom: 1px solid $dimmed-border-color;
}

category header:hover input
{
  opacity: 1;
}

.unfolded > header
{
  border-bottom-color: $dimmed-border-color;
}

.unfolded > header input,
input.unfolded
{
  -o-transform: rotate(90deg);
}

.css-inspector .selected
{
  background-color: #d4e3f4;
}

.css-inspector .css-declaration.selected
{
    border-radius: 3px;
}

.css-inspector.edit-mode .selected
{
  background-color: transparent;
}

.css-inspector h2,
.css-layout h2
{
  font-size: 1em;
  font-weight: normal;
  border: 0 solid $dimmed-border-color;
  border-width: 1px 0;
  background-color: $toolbar-background-color;
  background-image: -o-linear-gradient(-90deg,
                                       rgba(#fff, 0.55) 0,
                                       rgba(#fff, 0.25) 100%);
  margin: 5px -5px;
  padding-left: 4px;
}

examine-objects,
examine-objects item
{
  display: block;
}

examine-objects
{
  padding: 5px;  
  examine-objects
  {
    background: transparent url('../ui-images/dom-tree-style.png') scroll repeat-y 5px 0;
    padding: 0 0 0 16px;
  }
  key.no-expander
  {
    margin-left: 18px;
  }
}


.prototype-chain-object
{
  background-color: #cecece;
  color: #111;
  padding: 1px 2px;
  margin: 2px -2px;
  &.unfolded
  {
    border: none;
  }
  key
  {
    color: #111;
  }
}


.css-layout layout-container
{
  display: table;
  margin: 0 auto;
  padding: 5px;
  max-width: 250px;
  font-size: 11px;
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-row;
  }
  li
  {
    display: table-cell;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    min-width: 15px;
  }
  p
  {
    position: relative;
    margin: 0;
    padding: 0;
  }
  span
  {
    position: absolute;
    top: 0;
    left: 0;
  }
  .dimension li
  {
    min-width: 80px;
    white-space: nowrap;
  }
  .position,
  .dimension,
  .padding,
  .margin,
  .border
  {
    border-color: #324c74;
  }
  .position
  {
    border-style: dotted;
  }
  
  .padding,
  .margin
  {
    border-style: dashed;
  }
}

#layout-info
{
  margin: auto;
  th
  {
    text-align: right;
  }
}



offsets-container
{
  display: block;
}

parent-offset
{
  border: 1px solid #324c74;
  background-color: #c7d4e8;
  padding: 0 2px;
}

.offsets
{
  border-spacing: 0;
  th
  {
    font-weight: normal;
    text-align: left;
    padding-right: 5px;
  }
}

.only-whitespace {
  border: 1px dotted $base-border-color;
  border-radius: 2px;
  margin-left: -1px;
}

.css-layout > div > h2:first-child
{
  border-width: 0 0 1px;
  margin-top: -9px;
}

pre.inspect-object-link
{
  color: blue;
}

breadcrumb span
{
  display: inline-block;
  padding: 0 0.2em;
  margin: 4px 0.2em;
  border: 1px solid transparent;
  line-height: 17px;
}


/* js source file drop down */
/* Don't use .js-dd-s-scope for styling. */
.cmd-line-runtimes cst-select-option-list,
.script-options cst-select-option-list
{
  padding: 0px;
}


/* Filter Bar */
.script-options cst-select-option-list
{/* Clearing space for the filter bar */
  border-top: 28px solid transparent;
}

.js-dd-filter-bar
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-width: 0 0 1px;
}

.js-dd-filter-container
{
  margin: 0 3px;  
}

.js-dd-filter
{
  width: 100%;
  border: 0px solid transparent;
  border-right-width: 20px;
  padding: 2px;
  background-color: transparent;
}

.js-dd-clear-filter
{
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.18) url("../ui-images/icons/icon_close_tab_small.png") 50% 50% no-repeat;
  opacity: 0;
}

.js-dd-visible
{
  opacity: 1; 
  -o-transition: opacity 0.5s;
}


/* JS dropdown list */
.js-dd-script-list,
.cmd-line-runtimes cst-select-option-list
{
  padding-bottom: 8px;
}

.cmd-line-runtimes cst-select-option-list
{
  background-color: #e8e8e8;
}

.js-dd-runtime,
.cmd-line-runtimes cst-option
{
  padding: 4px 8px 3px 8px;
  border: 0 solid rgba(0, 0, 0, 0.06);
  border-width: 1px 0;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: #dcdcdc;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: normal;
}

.cmd-line-runtimes cst-option
{  
  margin-bottom: 0;
}

.js-dd-script-list cst-option:hover
{
  background-color: inherit;
  color: inherit;
}

.js-dd-script-list cst-option.hover
{
  background-color: #bbcef1;
  color: #000;
}

.js-dd-script-list cst-option.selected
{
  background-color: #598bec;
  color: #fff;
}

.js-dd-ext-runtime,
.cmd-line-runtimes cst-group cst-option
{
  padding: 3px 4px 3px 28px;
  margin-top: 8px;
  background: #e8e8e8 url("../ui-images/icons/icon_extension.png") 6px 50% no-repeat;
  color: #595959;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: normal;
}

.cmd-line-runtimes cst-group cst-option
{
  border-width: 0;
  margin-top: 0;
  background-color: transparent;
}

.cmd-line-runtimes cst-option:hover
{  
  background-color: #bbcef1;
  color: #000;
}

.cmd-line-runtimes cst-option.selected,
.cmd-line-runtimes cst-option:active
{
  background-color: #598bec;
  color: #fff;
}

.cmd-line-runtimes cst-group cst-option.selected,
.cmd-line-runtimes cst-group cst-option:active
{
  background-image: url("../ui-images/icons/icon_extension_white.png");
}

.js-dd-dir-path,
.debugger-menu cst-title
{
  margin-top: 8px;
  font-style: italic;
  color: #8f8f8f;
  background-color: transparent;
}

.js-dd-runtime.selected-runtime
{
  color: #000;
}

.js-dd-runtime:first-child,
.js-dd-runtime + .js-dd-runtime,
.cmd-line-runtimes cst-select-option-list cst-option:first-child
{
  border-top: transparent;
  margin-top: 0;
}

.js-dd-runtime:last-child
{
  border-bottom: none;
}

.js-dd-scr-query
{
  color: #666;
}

.script-options cst-option
{
  padding-left: 28px;
  background-image: url('../ui-images/selected_frame_top.png');
  background-position: 6px -16px;
  background-repeat: no-repeat ;
  &.selected
  {
    background-image: url('../ui-images/selected_frame_top_white.png');
  }
  &.stopped
  {
    background-position: 6px 50%;
  }
}

parent-node-chain breadcrumb
{
  color: rgba(0, 0, 0, 0.5);
  background: none;
  padding: 0;
  cursor: pointer;
  &::before,
  &::after
  {
    background: none !important;
  }  
  &.parent-offset
  {
    color: #000;
    font-weight: bold;
  }  
  &.active
  {
    color: #204d80;
  }
  span
  {
    padding: 0 0.2em;
    margin: 0 0.2em;
    border: 1px solid transparent;
    line-height: 15px;
  }
}

parent-node-chain breadcrumb span:hover,
.css-layout parent-node-chain breadcrumb span:hover
{
  background-color: hsl(240, 80%, 90%);
  border-color: hsl(240, 50%, 70%);
}


/* debug */

d
{
  color: #999;
}

.dom-resource-link:hover
{
  text-decoration: underline;
  color: #4d1100;
}

.host-spotlight h3
{
  display: inline-block;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  padding-left: 0.5em;
}

.host-spotlight label
{
  display: inline-block;
  margin-left: 1.5em;
}

.host-spotlight cst-select
{
  margin-right: 0;
}

.reset-defaults
{
  vertical-align: middle;
  margin-left: 2em;
}

.table
{
  display: table;
  margin: auto;
}

.debug-textarea
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 2px 7px;
}

.filter-container ul ul
{
  margin-left: 20px;
}

.filter-container .disabled
{
  opacity: 0.3;
}

.filter-container ul li
{
  margin: 3px 0;
  border: 1px solid transparent;
}

.filter-container ul div
{
  border-top: 1px solid $base-border-color;
  padding: 5px 7px;
  margin-top: 3px;
}

.filter-container .ui-button
{
  border: 0;
  margin: 0;
  padding-right: 4px;
  height: 15px;
  width: 19px;
  color: #666;
  background: transparent url('../ui-images/expand-collapse.png') 4px 2px no-repeat;
}

.filter-container li.open
{
  border-color: $base-border-color;
}

.filter-container li.open > .ui-button
{
  background-position: 4px -13px;
}

.filter-container h3
{
  display: inline-block;
}

.test-messages h2,
.test-messages h3
{
  font-size: 1em;
  padding: 0 5px;
  margin: 0;
  border: 1px solid #666;
  border-width: 0 1px;
}

.test-messages h2
{
  font-weight: bold;
  background-color: hsl(0, 0%, 95%);
  margin-top: 1em;
  border-width: 1px;
}

.test-messages .column
{
  display: table-cell;
  padding: 0 0.7em;
}

.test-messages .column div
{
  border-bottom: 1px solid #666;
}

.test-messages ul
{
  margin-bottom: -1px;
}

.test-messages li
{
  border: 1px solid #666;
  border-width: 0 1px;
  padding: 0 5px;
}

.test-messages .selected
{
  background-color: #666;
  color: #fff;
  font-weight: bold;
}

.test-messages pre
{
  padding: 5px;
  margin: 0;
  white-space: pre-wrap;
}

.test-messages .comment
{
  color: #666;
}

.test-messages p
{
  padding: 0 5px;
  margin: 0;
}

.test-messages .definition
{
  border: 1px solid #666;
  background-color: hsl(0, 0%, 98%);
}

.test-messages .right-aligned
{
  text-align: right;
  padding: 1px;
  border: 1px solid #666;
  border-width: 0 1px 1px 1px;
  background-color: hsl(0, 0%, 98%);
  margin-bottom: -1px;
}

.test-messages textarea
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #666;
  border-width: 0 1px 1px 1px;
}

#message-response
{
  border: 1px solid #666;
  border-width: 0 1px;
}

.event-list textarea
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 14ex;
  margin: 0;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid $base-border-color;
  border-radius: 3px;
}

#about-authors
{
  white-space: pre;
}

.color-swatch
{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background: #fff no-repeat;
  background-image: -o-linear-gradient(0deg,
                                       #c8c8c8 100%,
                                       #c8c8c8 0),
                    -o-linear-gradient(0deg,
                                       #c8c8c8 100%,
                                       #c8c8c8 0);
  background-position: 1px 1px, 5px 5px;
  background-size: 4px;
  vertical-align: -1px; /* Should really be middle, but most often this looks better */
  &:not(.non-interactive)
  {
    cursor: pointer;
  }
}

.color-swatch-fg-color
{
  border: 1px solid rgba(34, 34, 34, 0.4);
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.css-declaration.disabled .color-swatch
{
  opacity: 0.35;
}

.color-swatch.special .color-swatch-fg-color
{
  background: no-repeat #fff;
  /* This is an approximation, the color will be slightly off */
  background-image: -o-linear-gradient(-45deg,
                                       transparent 5px,
                                       rgba(34, 34, 34, 0.4) 5px,
                                       rgba(34, 34, 34, 0.4) 6px,
                                       transparent 6px);
  border-color: #aaa;
}

.collapsed-prototypes
{
  width: 24em;
}


/* Event Breakpoints */

.event-list
{
  padding: 4px;
}

.event-breakpoints li:first-child header
{
  border-top-width: 0;
}

.search-no-match
{
  opacity: 0.3;
}

.no-match
{
  opacity: 0.3;
}


/* new style sheet */

.css-new-style-sheet
{
  display: block;
  box-sizing: border-box;
  border: 1px solid $base-border-color;
  width: 100%;
  margin-bottom: 5px;
  font: inherit;
  &:focus
  {
    border-color: #3c3c3c;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.not-content {
  cursor: auto;
  color: #999;
  font-style: italic;
  padding-left: 20px;
  &.inspection {
    padding: 5px 5px 5px 25px;
  }
}


.go-to-line-input
{
  box-sizing: border-box;
  width: 100%;
  border: 3px solid transparent;
}

.spotlight-color-select
{
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin-left: 2px;
  &::before
  {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 17px;
    border: 1px solid black;
    border-radius: 2px;
  }
}

.pretty-printed-code
{
  margin: 0;
}
