a.resource-main
{
  padding: 0;
  margin: 0;
}

.image-resource-view
{
  border: solid thin black;
}

.resource-image-box
{
  padding: 8px;
  margin: 8px;
  vertical-align: top;
  display: inline-block;
  width: 100px;
  height: 120px;
  border: solid thin black;
  text-align: center;
  overflow: hidden;
  img
  {
    max-width: 70px;
    max-height: 70px;
  }
}

.resource-icon
{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../ui-images/type_other.png);
  vertical-align: middle;
}

.resource-type-audio
{
  background-image: url(../ui-images/type_audio.png);
}

.resource-type-css
{
  background-image: url(../ui-images/type_style.png);
}

.resource-type-data
{
  background-image: url(../ui-images/type_data.png);
}

.resource-type-feed
{
  background-image: url(../ui-images/type_feed.png);
}

.resource-type-flash
{
  background-image: url(../ui-images/type_flash.png);
}

.resource-type-font
{
  background-image: url(../ui-images/type_font.png);
}

.resource-type-image
{
  background-image: url(../ui-images/type_picture.png);
}

.resource-type-markup
{
  background-image: url(../ui-images/type_markup.png);
}

.resource-type-script
{
  background-image: url(../ui-images/type_script.png);
}

.resource-type-text
{
  background-image: url(../ui-images/type_text.png);
}

.resource-type-video
{
  background-image: url(../ui-images/type_video.png);
}

.resource-type-storage
{
  background-image: url(../ui-images/type_storage.png);
}

.resource-detail-container
{
  display: block;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  border-top: 100px solid #ccc;
  /* is currently needed due to a bug. otherwise the scroll height is bigger than the height. */
  position: relative;
}

.line-numbered-resource
{
  position: relative;
  pre
  {
    padding-top: 1px;
    margin-top: 0;
    padding-left: 10ex;
  }
}

.highlighted-line
{
  background-image: -o-linear-gradient(90deg, 
                                       #d4e3f4,
                                       #d4e3f4);
  background-repeat: no-repeat;
}

.resource-line-numbers
{
  position: absolute;
  left: 0;
  top: 0;
  width: 7ex;
  padding-right: 1ex;
  padding-top: 1px;
  text-align: right;
  background-color: hsl(0, 0%, 96%);
  color: $dimmed-foreground-color;
  border-right: $dimmed-border-color;
  white-space: pre;
}

.resource-image
{
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 10px auto;
  background: #fff url("../ui-images/grid_checkers_black.png");
  box-shadow: 0 0 10px rgba(#000, 0.4);
}

.font-preview
{
  font-size: 400%;
  text-align: center;
}


/* TODO: Icon cell should be target by a class rather than this. */
.resource-manager td:nth-child(1) {
  width: 16px;
}

/* Metadata drawer */
.metadata-drawer
{
  border-bottom: 1px solid $base-border-color;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  border-color: $base-border-color;
  .details-table
  {
    width: 100%;
    border-top: 1px solid $base-border-color;
    padding: 10px 0;
    tr
    {
      border-bottom: 1px solid $base-border-color;
    }
    th
    {
      width: 100px;
      padding-right: 10px;
      width: 82px;
      text-align: right;
    }
  }
  .metadata-drawer-summary-table
  {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    &.unfolded
    {
      border-bottom: 1px solid $base-border-color;
    }
    th
    {
      text-align: center;
      height: 32px;
      &.iconcell
      {
        border: 0 solid $dimmed-border-color;
        border-width: 0 1px;
        width: 48px;
      }
      &.expandercell
      {
        width: 32px;
        input[handler=metadata-drawer-toggle]
        {
          background: transparent url('../ui-images/icons/icon_arrow_right.png') scroll no-repeat 50% 100%;
          border: none;
          width: 17px;
          height: 17px;
          -o-transition: 0.2s;
        }
      }
      &.urlcell
      {
        text-align: left;
        padding-left: 12px;
        word-wrap: break-word;
      }
    }
    /* TODO: This should probably be a th. */
    td
    {
      .searchcell {
        width: 250px;
      }
    }
  }
}


